<div class="about-container">
    <div class="about-card shadow-lg">
      <h1 class="text-center">Σχετικά με την Εφαρμογή</h1>
      <p class="">
        Η εφαρμογή αυτή δημιουργήθηκε για να παρέχει στους προμηθευτές του νοσοκομείου μια εύκολη και γρήγορη πρόσβαση στις πληρωμές τους. Μέσω της εφαρμογής, κάθε προμηθευτής μπορεί να δει αναλυτικά τις καταθέσεις που έχει λάβει από το νοσοκομείο, καθώς και τους επιμερισμούς που αφορούν κρατήσεις, φόρους και άλλες παρακρατήσεις.
      </p>
  
      <p class="mt-3">
        Με την εισαγωγή του ΑΦΜ και ενός μοναδικού κωδικού (ο οποίος παρέχεται από τη Διεύθυνση Οικονομικού), οι χρήστες μπορούν να δουν τα στοιχεία των πληρωμών τους, την ανάλυση αυτών και να κατεβάσουν τις σχετικές πληροφορίες σε μορφή Excel. Σκοπός της εφαρμογής είναι να εξαλείψει την ανάγκη τηλεφωνικών επικοινωνιών για διευκρινίσεις, εξοικονομώντας χρόνο τόσο για τη Διεύθυνση όσο και για τους προμηθευτές του νοσοκομείου.
      </p>
    </div>
  </div>
  
    


