body {
  font-family: 'Poppins', sans-serif;
}

.my-width {
  width: 75%;
}

/* Header */
h2 {
  text-align: center;
  color: #1565C0;
  margin: 40px 0;
  font-weight: 600;
  font-size: 2rem;
}

/* Card Background */
mat-card {
  margin: 10px 0;
  background-color: #f3f8ff;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

mat-expansion-panel-header {
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #e3f2fd; 
  padding: 10px 16px;
  margin-bottom: 8px;
  height: auto;
}

.header-row {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent; 
}

/* Title and Icon */
.title-container {
  display: flex;
  width: 100%;
}

.title {
  flex: 2; /* 2/3 width */
  display: flex;
  align-items: center;
  /* color: #1a237e;  */
}

.date {
  flex: 1; /* 1/3 width */
  text-align: right;
  color: #607d8b; 
  font-weight: bold;
  font-size: 0.9rem;
}

/* Icon Styling */
mat-icon {
  color: #1565C0;
  font-size: 1.5rem;
}

/* Card Content */
mat-card-content p {
  font-size: 1rem;
  color: #424242; 
  line-height: 1.6;
  margin: 0;
}

/* Accordion Styling */
mat-accordion {
  width: 100%;
}

/* Expansion Panel Hover Effect */
mat-expansion-panel-header:hover {
  background-color: #dbe9f8; /* Slightly darker on hover */
  transition: background-color 0.3s ease;
}

mat-expansion-panel {
  opacity: 0;
  transform: translateY(30px);
  animation: slideIn 1s ease-out forwards;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .my-width {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
  }

  .date {
    font-size: 0.9rem;
  }

  mat-card-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .my-width {
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  mat-expansion-panel-header {
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .title {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .date {
    font-size: 0.8rem;
  }

  mat-card-content p {
    font-size: 0.9rem;
  }

  mat-icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  mat-expansion-panel-header {
    font-size: 1rem;
    padding: 1px 6px;
  }

  .title {
    font-size: 0.8rem;
  }

  .date {
    font-size: 0.65rem;
  }

  mat-card-content p {
    font-size: 0.8rem;
  }

  mat-icon {
    font-size: 0.8rem;
    margin-left: 3px;
    margin-top: 10px;
  }
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(30px); /* Start slightly lower */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Slide up into place */
    }
  }

  
