.my-color {
  background-color: rgb(21, 101, 192); 
  color: #FFFFFF; 
}

.my-btn {
  transition: all 0.3s ease;
}

.my-btn:hover {
  background-color: rgb(0, 59, 143);
  transform: scale(1.05);
  border-radius: 10px;
  color: #FFFFFF; 
}

.logo {
  height: 65px; 
  width: auto;  
  margin-right: 15px;  /* Space between logo and text */
  margin-left: 15px;
}


.brand-title {
  font-size: 1.5rem; /* Default size for large screens */
}

.brand-subtitle {
  font-size: 1.3rem;
}


/* Responsive Adjustments */
@media (max-width: 1200px) {
  .my-btn:hover {
    padding-left: 1cap;
  }

  .brand-title {
    font-size: 1.3rem; 
  }

  .brand-subtitle {
    font-size: 1.2rem;
  }
  
  .logo {
    height: 50px; 
    margin-right: 10px;
    margin-left: 8px;
  }

  .navbar-toggler {
    font-size: 1rem;
    padding: 5px 10px;
  }
}

@media (max-width: 768px) {
  .brand-title {
    font-size: 1.2rem; 
  }

  .brand-subtitle {
    font-size: 1rem;
  }

  .logo {
    height: 60px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .my-btn {
    font-size: 1rem;
    padding: 5px 8px;
  }
}

@media (max-width: 576px) {
  .brand-title {
    font-size: 0.8rem; 
  }

  .brand-subtitle {
    font-size: 0.7rem;
  }

  .logo {
    height: 50px;
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .my-btn {
    font-size: 0.9rem;
    padding: 5px 1px;
  }

  .navbar-toggler {
    width: 30px;
    height: 30px;
  }

  .navbar-toggler-icon {
    height: 20px;
    width: 20px;
    margin-left: -5px;
  }
}
  