<div class="container-fluid my-3">

    <div class="card contact-card animate-slide">
      <div class="card-body">
        <div class="card-title text-primary mb-3">
            <h5>251 ΓΕΝΙΚΟ ΝΟΣΟΚΟΜΕΙΟ ΑΕΡΟΠΟΡΙΑΣ</h5>
            <h6>ΔΙΕΥΘΥΝΣΗ ΟΙΚΟΝΟΜΙΚΩΝ ΥΠΗΡΕΣΙΩΝ</h6>
        </div>

        <p class="mb-4"> <span class="my-fw">Διεύθυνση:</span> Π. Κανελλοπούλου 3, 11525 Αθήνα  -  <i>1ος Όροφος</i></p>
        
        <ul class="list-unstyled mb-0">
          <li class="mb-3">
            <span class="my-fw">Γραφείο Διαχείρησης Τιμολογίων Αναλώσιμου Υγειονομικού και Φαρμακευτικού Υλικού</span>
            <br>
            <i>Γραφείο 1</i><br>
            <i class="bi bi-telephone me-2 text-primary"></i>2107464164 <br>
            <i class="bi bi-envelope-at"></i> <a class="ms-2" href="mailto:day.fy251gna@yahoo.gr">day.fy251gna&#64;yahoo.gr</a>
          </li>
          
          <li class="mb-3">
            <span class="my-fw">Γραφείο Διαχείρησης Τιμολογίων μη Υγειονομικού Υλικού</span>
            <br>
            <i>Γραφείο 2</i><br>
            <i class="bi bi-telephone me-2 text-primary"></i>2107465015 <br>
            <i class="bi bi-envelope-at"></i> <a class="ms-2" href="mailto:251@">251&#64;</a>
          </li>
  
          <li class="mb-3">
            <span class="my-fw">Γραφείο Διαχείρησης Τιμολογίων Τροφοδοσίας</span>
            <br>
            <i>Γραφείο 5</i><br>
            <i class="bi bi-telephone me-2 text-primary"></i>2107464162 <br>
            <i class="bi bi-envelope-at"></i> <a class="ms-2" href="mailto:251@...">oik.251gna&#64;haf.gr</a>
          </li>
  
          <li class="mb-3">
            <span class="my-fw">Γραφείο Έκδοσης Ενταλμάτων</span>
            <br>
            <i>Γραφείο 5</i><br>
            <i class="bi bi-telephone me-2 text-primary"></i>2107464164 <br>
            <i class="bi bi-envelope-at"></i> <a class="ms-2" href="mailto:oik.251gna@">oik.251gna&#64;haf.gr</a>
          </li>
  
          <li>
            <span class="my-fw">Κεντρικό Ταμείο</span>
            <br>
            <i>Γραφείο 8</i><br>
            <i class="bi bi-telephone me-2 text-primary"></i>2107464161 <br>
            <i class="bi bi-envelope-at"></i> <a class="ms-2" href="mailto:oik.251">oik.251</a>
          </li>
        </ul>
      </div>
    </div>
</div>
  
