<div class="home-container my-5 animate-slide">

    <section class="hero">
        <div class="hero-overlay">
          <div class="hero-content">
            <h1>Καλώς ήρθατε στην Πλατφόρμα Ανάλυσης Πληρωμών</h1>
            <p class="hero-text">Η εύκολη λύση για την παρακολούθηση των πληρωμών σας από το 251ΓΝΑ.</p>
            <a routerLink="/about" class="cta-button">Μάθετε περισσότερα</a>
          </div>
        </div>
      </section>
  
    <!-- Overview Section -->
    <div class="overview">
      <h2>Τι προσφέρει η εφαρμογή</h2>
      <p>Παρακολουθήστε τις πληρωμές σας, κατεβάστε αναφορές και λάβετε πληροφορίες με λίγα μόνο κλικ.</p>
    </div>
  
    <!-- Highlight or Announcement Section -->
    <div class="highlight">
      <h3>Τελευταίες Ανακοινώσεις</h3>
      <p>Μείνετε ενημερωμένοι με τις τελευταίες ανακοινώσεις της Διεύθυνσης Οικονομικού.</p>
    </div>
  </div>
  
